.map-container {
  position: fixed;
  width: 49vw;
  margin-left: 0vw;
  height: 900px;
  box-shadow: 0px 10px 10px rgb(72, 72, 72);
  }
  
  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;

    padding: 6px;
    font-weight: bold;
  }