.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*---------------------------------*/
/*       BODY & OVERALL ITEMS      */
/*---------------------------------*/
*{
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-image: url(/public/mountains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-position-y: 0px;
  text-align: left;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: #595959;
  cursor: pointer;

}
#website{
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}
h5{
  margin: 5px;
}
p{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/*---------------------------------*/
/* NAV BAR ITEMS */
/*---------------------------------*/
nav{
  position: fixed;
  background-color: #fff6ed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

}
#navUl{
  margin-right: 50px;
  display: flex;

}
#navItem{
  cursor: pointer;
  list-style: none;
  margin: 20px;
  color: #595959;
  font-size: 20px;
}
#logo{
  width: 110px;
  position: relative;
  left: 50px;
}
/*---------------------------------*/
/*        FOOTER ITEMS             */
/*---------------------------------*/
footer{

  background: linear-gradient(90deg, rgba(125,185,186,1) 0%, rgba(89,149,150,1) 75%, rgba(184,223,222,1) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
#footer{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
}
#contact{
  text-align: center;
  color: white;
  margin-top: 2%;
  padding-top: 2%;
}
/*---------------------------------*/
/* BREWERY CARD */
/*---------------------------------*/
#card{
  background-color: rgba(97,108,134, 0.4);
  width: 30%;
  margin: 0 auto;
  border-radius: 20px;
}
#line{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}
#newCard{
  background-color: rgba(97,108,134, 0.2);
  width: 30%;
  margin: 10px auto;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgb(103, 103, 103);
  border: 1px solid white;
}
#cardLayout{
display: flex;
align-items: center;
width: 100%;
}
#editBtn{
  width: 100px;
  height: 40px;
  margin: 2px 30%;
  border-radius: 20px;
  border: 1px solid white;
  background-color: #599596;
  color: white;
  text-align: center;
}
#name{
  width: 30%;
}
#nameText{
  color: white;
  text-align: center;
  font-weight: bolder;
  rotate: -90deg;
  font-size: 10px;
}
#info{
  padding-left: 2%;
  width: 70%;
  color: white;
  background-color: rgba(97,108,134, 0.2);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#buttons{
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
#editButtons{
  display: flex;
  margin: 2%;
  width: 30%;
}
#display{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/*---------------------------------*/
/* Drop Down Menu */
/*---------------------------------*/
.dropbtn {
  background-color: transparent;
  border: none;
  list-style: none;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(89,149,150,0.7);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  backdrop-filter: blur(4px);
  border: 1px solid white;
  z-index: 1;
}
.dropdown-content a {
  color: #2f4265;
  text-decoration: none;
  display: block;

}
.dropdown-content a:hover {background-color: rgba(89,149,150,0.2)}
.dropdown:hover .dropdown-content {
  display: block;
  padding: 25px;
  border-radius: 10px;
}
.dropdown:hover .dropbtn, #navItem:hover {
  background-color: rgba(89,149,150,0.5); 
  border-radius: 30px;

}

#input{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid white;
  width: 20em;
  height: 20px;
  margin: 2% 2% 2% 0 ;


}
#line{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid white;
  width: 8em;
  height: 22px;
  color: white;
  margin: 2% 0 2% 2%;
  background-color: #599596;


}
#formField{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
/*---------------------------------*/
/* Home Page Display */
/*---------------------------------*/
#homeImage{
  width: 40%;
  margin-left: 30%;
  margin-bottom: 10%;
  backdrop-filter: blur(10px);
  border-radius: 400px;
}
#typeImage{
display: flex;
flex-direction: row;
width: 90%;
margin-left: 5%;
}
#typeText{
color: #595959;
}
#breweryImage{
width: 100%;
}
#separateImage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgb(103, 103, 103);
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid white;
}
#breweryType{
  background-color: transparent;
  width: 30%;
  border: none;
}
#editForm{
  padding: 2%;
  text-align: center;
  margin-bottom: 2%;
}
#about{
  text-align: justify;
  color: white;
  background: linear-gradient(90deg, rgba(125,185,186,1) 0%, rgba(89,149,150,1) 33%, rgba(184,223,222,1) 100%);
  padding: 5% 0;
  margin: 5% 0;
}
#aboutTitle{
text-align: center;
}
#test{
  text-align: center;
}

